// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}
.crop-image{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}
.navbarbackground{
  background:linear-gradient(to bottom left, #a1a0a0,#040400);
}

.svg-icon {
  max-height: 25px;
  fill: #ffffff;
  padding-right: 10px;
  margin-top: -5px;
}

.icon-filter {
  width:80px;
  @media (max-width: 767.98px) {
    width:40px;
    margin-top: -10px;
   }

}

.tab-choices-object-page button.btn {
  // xs, sm, md, lg, xl boostrap breakpoints
  font-size: 1.2vw;
  white-space: nowrap;
  @include media-breakpoint-down(md) {
    font-size: 3vw;
  }
}

.textarea.form-control{
  height:200px!important;
}

//justerar h1 så de inte blir så hysteriskt stora
.h1-responsive{

font-size: 4vw;
@media (min-width: 992px) {
font-size: 3vw; }

}
.bg-white-50 {
  background-color: #fff;
  opacity: 0.8;
  position: absolute;
  margin-top: -140px;
  height:150px;
  width:100%;
}

.bg-grey {
  background-color: #f5f5f5;
}

.row-h-25{
  height: 25px;
}

// Visa/dölj filter

.sort-trigger{
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  border-radius: 9999px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
  line-height: 40px;
}

.sort-trigger i{
  font-size:30px;
  top: 5px;
  position: absolute;
  left: 5px;
}

.sort-trigger span{
  position: absolute;
  text-transform: uppercase;
  white-space: nowrap;
  bottom: -30px;
  left: -50%;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1;
  font-weight: 600;
}

.text-shadow{
  color: #fff;
  font-size:50px;
  text-shadow: 0 1px 1px #000;
}

// Stylar checkboxar i filterfunktionen START
.checkmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark input[type="checkbox"]:checked + label{
    border: $primary 2px solid;
}

.checkmark input[type="checkbox"]:checked + label span{
  background-color: $primary;
  border: 4px double $light;
}

.checkmark label {
  border: $light 2px solid;
  padding: 17px 5px 5px 5px;
  width: 150px;
  height: 150px;
  @media (max-width: 767.98px) {
    font-size: 8px;
    padding: 17px 5px 5px 5px;
    width: 75px;
    height: 75px;
    margin-bottom: 0px;
  }
}

.checkmarking {
  display:block;
  margin-top: -114px;
  height: 20px;
  width: 20px;
  background-color: $light;
  @media (max-width: 767.98px) { 
    margin-top: -56px;
    height: 15px;
    width: 15px;
  }
}

.checkmarking-nyproduktion {
  margin-top: -138px;
  @media (max-width: 767.98px) { 
    margin-top: -66px;
  }
}

// Stylar checkboxar i filterfunktionen END

// Style för objekt images

.front-side-picture {
   height: 400px; 
}

.are-we-the-key {
  margin-left: -15px !important;
  font-size: 45px;
  @media (max-width: 575.98px) {
    font-size: 10vw;
  }
}

.sticky-menu-right {
   margin-top: -5px;
   @include media-breakpoint-up(lg) {
    margin-left:-5px;
    margin-top: 0px;
  }
}

.white-btn-text {

  color: white;

}

.footer {
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 3px solid #D2AC47;
}

.list-group li {
  list-style: none;
  padding-bottom: 10px;
}




//Hindrar en från att skriva in bokstäver i nummerfält - men genom "none" så slipper vi ha lilla högerscrollen i formulären
input[type=number] {
  &,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;

    &:hover,
    &:focus {
      -moz-appearance: number-input;
    }
  }
}
.not-found{
  font-family: 'Satisfy', cursive;
}
.large-text{
  font-size: 84pt;
}
//badge på objektsidan "visning idag"
.notify-badge{
    position: relative;
    background:linear-gradient(to right,#BF953F, #FCF6BA, #B38728,#AA771C);
    height:5rem;
    top:4rem;
    left:3rem;
    width:10rem;
    text-align: center;
    border-radius: 25%;
    border:2px solid,#AA771C;
    transform: rotate(20deg);
}
//nedan - "visning idag" på köpsidan
.onsale-section {
  position: absolute;
  top: -6px;
  right: 15px;
}

.onsale-section:after {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;

}

.onsale {
  position: relative;
  display: inline-block;
  text-align: center;
  color: black;
  background: linear-gradient(to right,#BF953F, #FCF6BA, #B38728,#AA771C);
  font-size: 14px;
  line-height: 1;
  padding: 12px 8px 6px;
  border-top-right-radius: 8px;
  width: 84px;
  text-transform: uppercase
}

.onsale:before,
.onsale:after {
  position: absolute;
  content: '';
  display: block;
}

.onsale:before {
  background: rgb(223, 210, 186);
  height: 7px;
  width: 6px;
  left: -6px;
  top: 0;
}

.onsale:after {
  background: rgb(194, 154, 74);
  height: 7px;
  width: 8px;
  border-radius: 8px 8px 0 0;
  left: -8px;
  top: 0;
}

.product img {
  display: block;
}