// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}
.crop-image{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}
.navbar-bg{
  background-color:#293844;
}

.icon-filter {
  width:80px;
}

.tab-choices-object-page button.btn {
  // xs, sm, md, lg, xl boostrap breakpoints
  font-size: 1.5vw;
  
}

//justerar h1 så de inte blir så hysteriskt stora
.h1-responsive{

font-size: 4vw;
@media (min-width: 992px) {
font-size: 3vw; }

}
.bg-white-50 {
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  margin-top: -140px;
  height:150px;
  width:100%;
}

.bg-grey {
  background-color: #f5f5f5;
}

.text-shadow{
  color: #fff;
  font-size:50px;
  text-shadow: 0 1px 1px #000;
}

// Stylar checkboxar i filterfunktionen START
.checkmark input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark input[type="checkbox"]:checked + label{
    border: $primary 2px solid;
}

.checkmark input[type="checkbox"]:checked + label span{
  background-color: $primary;
  border: 4px double $light;
}

.checkmark label {
  border: $light 2px solid;
  padding: 17px 5px 5px 5px;
  width: 150px;
  height: 150px;
}

.checkmarking {
  display:block;
  margin-top: -114px;
  height: 20px;
  width: 20px;
  background-color: $light;
}

// Stylar checkboxar i filterfunktionen END

// Style för objekt images

.front-side-picture {
   height: 400px; 
}

.are-we-the-key {
  margin-left: -15px !important;
  font-size: 45px;
  @media (max-width: 575.98px) {
    font-size: 10vw;
  }
}

