// Cursor pointer on all elements with the click attribute
[click]{ 
  cursor: pointer;
}
.crop-image{
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}
.navbar-bg{
  background-color:#293844;
}

.icon-filter {
  width:80px;
}

.tab-choices-object-page button.btn {
  // xs, sm, md, lg, xl boostrap breakpoints
  font-size: 1.5vw;
  
}

//justerar h1 så de inte blir så hysteriskt stora
.h1-responsive{

font-size: 4vw;

}
