$link-color: white;
$link-hover-decoration: none;

// Override spacers with extra spacing
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 9),
    8: ($spacer * 12),
    9: ($spacer * 16)

  ),
  $spacers
);

.crop-image{
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  width: 100%;
  max-height: 350px;
  margin-bottom: 1rem;
}