// Here we import the ico-font library
// See https://icofont.com/icons for how to use
@import 'ico-font/_icofont.min';

// Add @imports of Google Fonts here
@import url('https://fonts.googleapis.com/css?family=Alegreya|Cinzel&display=swap');

@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

